<div class="container mt-5">
  <section class="text-center mb-5">
    <h1 class="display-4 fw-bold">Especialistas en compañeros gatunos</h1>
    <p class="lead">Entendemos el lenguaje de tu compañero felino.</p>
    <div class="row align-items-center mt-4 text-start">
      <div class="col-md-6 mb-4 mb-md-0">
        <img src="img/clinica-gatos.jpg" class="img-fluid rounded shadow" alt="Clínica KittyCare">
      </div>
      <div class="col-md-6 ps-md-5">
        <h3>Nuestros Orígenes</h3>
        <p class="text-muted">Fundada en 2010, nuestra clínica nació con un objetivo claro: cuidar de tu compañero felino en lo que tu no puedes.</p>
      </div>
    </div>
  </section>

<section class="mb-5">
    <h2 class="mb-4 fw-bold">El Equipo Gatuno</h2>
  </section>

  <section class="bg-light p-4 rounded shadow-sm">
    <h3 class="text-center mb-5">Testimonios de humanos (y sus gatos)</h3>
    <div class="row">
      
    </div>
  </section>
</div>