<div class="contacto container mt-5">
  <div class="row">
    <div class="col-md-6 contacto-form">
      <h2>Contáctanos</h2>
      <p>Si tu pregunta no está en el <a routerLink="/faq">FAQ</a>, escríbenos:</p>

      <form class="formulario-estilizado">
        <div class="input-wrapper">
          <label>Correo electrónico</label>
          <input type="email" placeholder="ejemplo@correo.com">
        </div>

        <div class="input-wrapper">
          <label>Teléfono</label>
          <input type="tel" placeholder="600 000 000">
        </div>

        <div class="input-wrapper">
          <label>Tu mensaje:</label>
          <textarea placeholder="¿En qué podemos ayudarte?"></textarea>
        </div>

        <button type="submit">Enviar mensaje</button>
      </form>
    </div>
<br><br>
    <div class="col-md-6 contacto-mapa">
      <h2>Visítanos en nuestra clínica:</h2><hr>
      <p><strong>Veterinaria KittyCare</strong><br><hr> Calle Pilar, 2A<br> Sevilla, España</p>
      <img src="img/ubicacion.jpg" alt="Ubicación" class="img-fluid">
    </div>
  </div>
</div>