<div class="contacto container mt-5">
  <div class="row">
    <div class="col-md-6 contacto-form">
      <h2>Contáctanos</h2>
      <p>Si tu pregunta no está en el <a routerLink="/faq">FAQ</a>, escríbenos:</p>

      <form class="formulario-estilizado" (ngSubmit)="enviar()" #form="ngForm">
        
        <div class="input-wrapper">
          <label>Correo electrónico</label>
          <input 
            type="email" 
            name="email"
            [(ngModel)]="email"
            placeholder="ejemplo@correo.com"
            required>
        </div>

        <div class="input-wrapper">
          <label>Teléfono</label>
          <input 
            type="tel" 
            name="telefono"
            [(ngModel)]="telefono"
            placeholder="600 000 000">
        </div>

        <div class="input-wrapper">
          <label>Tu mensaje:</label>
          <textarea 
            name="mensaje"
            [(ngModel)]="pregunta"
            placeholder="¿En qué podemos ayudarte?"
            required>
          </textarea>
        </div>

        <button type="submit" [disabled]="form.invalid">
          Enviar mensaje
        </button>
      </form>
    </div>

    <br><br>

    <div class="col-md-6 contacto-mapa">
      <h2>Visítanos en nuestra clínica:</h2><hr>
      <p><strong>Veterinaria KittyCare</strong><br><hr> Calle Pilar, 2A<br> Sevilla, España</p>
      <img src="img/ubicacion.jpg" alt="Ubicación" class="img-fluid">
    </div>
  </div>
</div>