<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5 card p-5 shadow">
      <h3 class="text-center mb-4">Crear Cuenta</h3>
      
      <form [formGroup]="registroForm" (ngSubmit)="onRegistrar($event)" novalidate>
        <div class="mb-3">
          <label class="form-label fw-bold">Nombre Completo</label>
          <input type="text" formControlName="nombre" class="form-control" placeholder="Tu nombre">
        </div>

        <div class="mb-3">
          <label class="form-label fw-bold">Nombre de Usuario</label>
          <input type="text" formControlName="username" class="form-control" placeholder="Tu nombre de usuario">
        </div>

        <div class="mb-3">
          <label class="form-label fw-bold">Correo Electrónico</label>
          <input type="email" formControlName="correo" class="form-control" placeholder="ejemplo@correo.com">
          <small class="text-danger" *ngIf="registroForm.get('correo')?.invalid && registroForm.get('correo')?.touched">
            Email no válido (debe contener @ y dominio).
          </small>
        </div>

        <div class="mb-3">
          <label class="form-label fw-bold">Teléfono (9 dígitos)</label>
          <input type="text" formControlName="telefono" class="form-control" placeholder="600000000">
        </div>

        <div class="mb-4">
          <label class="form-label fw-bold">Contraseña (mín. 4 caracteres)</label>
          <input type="password" formControlName="pass" class="form-control" placeholder="••••">
        </div>

        <button type="submit" [disabled]="registroForm.invalid" class="btn btn-primary w-100 shadow-sm">
          Registrarme
        </button>
        
        <p class="text-center mt-3">
          <a routerLink="/perfil" class="text-muted small">¿Ya tienes cuenta? Entra aquí</a>
        </p>
      </form>
    </div>
  </div>
</div>
