<nav class="navbar bg-primary text-white p-3 d-flex flex-column align-items-center">
  <div class="navbar-logo-right">
    <img src="img/KittyVet.png" alt="KittyCare Logo" height="110">
  </div>
  <h1 class="mb-3 fw-bold text-center">
    Veterinaria KittyVet🐾
  </h1>
<br><br>
  <div class="d-flex justify-content-center flex-wrap">
    <a routerLink="/home" class="nav-link-spacing px-3 text-white text-decoration-none">Home</a>
    <a routerLink="/servicios" class="nav-link-spacing px-3 text-white text-decoration-none">Lista Servicios</a>
    <a routerLink="/contacto" class="nav-link-spacing px-3 text-white text-decoration-none">Contacto</a>
    <a routerLink="/perfil" class="nav-link-spacing px-3 text-white text-decoration-none">Mi Perfil</a>
    <a routerLink="/sobre-nosotros" class="nav-link-spacing px-3 text-white text-decoration-none">Sobre Nosotros</a>
  </div>
</nav>
