<div class="hero-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 text-center text-lg-start">
        <h1 class="display-4 fw-bold">Bienvenidos a <span class="text-accent">KittyVet</span></h1>
        <p class="lead">Donde la salud y felicidad de tu mascota es nuestra prioridad.<br>Un espacio pensado por y para ellos.</p>
        <div class="mt-4">
          <button class="btn btn-outline-custom" routerLink="/servicios">Explorar Servicios</button>
          <button class="btn btn-outline-custom" routerLink="/perfil">Pedir Cita</button>
        </div>
      </div>
      <br><br>
      <div class="col-lg-6 mt-5 mt-lg-0">
        <div class="hero-img-container">
          <img src="img/gato.jpg" class="img-fluid rounded-custom shadow-lg" alt="Mascotas felices">
          <img src="img/gatoChuru.jpg" class="img-fluid rounded-custom shadow-lg" alt="Mascotas felices">
          <img src="img/gatou.jpg" class="img-fluid rounded-custom shadow-lg" alt="Mascotas felices">
          <img src="img/gatoSiames.jpg" class="img-fluid rounded-custom shadow-lg" alt="Mascotas felices">
        </div>
      </div>
    </div>
  </div>
</div>